/*++

Copyright (c) 1997-2000  Microsoft Corporation All Rights Reserved

Module Name:

    msvad.rc

Abstract:


--*/

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR     "Sneaky Soundcard Device"
#define VER_INTERNALNAME_STR        "sneaky.sys"
#define VER_ORIGINALFILENAME_STR    "sneaky.sys"

#define VER_LEGALCOPYRIGHT_YEARS    "2010"
#define VER_LEGALCOPYRIGHT_STR	    "Copyright (C) Linn Products Limited" VER_LEGALCOPYRIGHT_YEARS

#include "common.ver"



