<configuration>

    <computer name="PC887">
        <network>192.168.1.3</network>
        <adapter>1</adapter>
        <!-- <network>10.15.1.103</network> -->
        <!-- <adapter>2</adapter> -->
        <!-- <network>10.2.11.71</network> -->
        <!-- <adapter>0</adapter> -->
    </computer>

    <computer name="PC941">
        <network>10.2.9.182</network>
        <!-- <network>10.2.9.178</network> -->
    </computer>

    <computer name="pc707">
        <network>10.15.1.102</network>
    </computer>
        
</configuration>

