<configuration>

    <computer name="PC887">
        <adapter>1</adapter>
        <itunes>
            <guid>0x328084CE247B12D3</guid>
            <library>Grahams Library</library>
            <address>10.15.1.133</address>
        </itunes>
    </computer>

    <computer name="PC707">
        <itunes>
            <guid>0x72B8CB5960D05C88</guid>
            <library>Linns Library</library>
            <address>10.15.1.102</address>
        </itunes>
    </computer>

</configuration>

