Source: libohnet
Section: net
Priority: extra
Maintainer: Cédric Andrieu <ced@opensource.wolfsonmicro.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.openhome.org/wiki/OhNet
Vcs-git: git://github.com/openhome/ohNet.git
Vcs-Browser: https://github.com/openhome/ohNet.git

Package: libohnet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, iOS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.

Package: libohnet-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, iOS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-java-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, iOS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-sharp-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, iOS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-js-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, iOS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-cpp-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, iOS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.
#Package: ohnet-dbg
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: OpenHome Networking Stack - development
# ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
# point and a device stack that can be used together or independently. It runs on
# Linux, Windows, Mac, iOS and Android. The public APIs are available for the
# device and control point stacks in C++, C#, Java and C. JavaScript APIs are
# also provided for the control point stack.  This package includes debugging
# symbols for use when debugging applications which use ohNet.
