Source: libohnet
Section: devel
Priority: extra
Maintainer: Cédric Andrieu <ced@opensource.wolfsonmicro.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.openhome.org/wiki/OhNet
Vcs-git: git://github.com/openhome/ohNet.git
Vcs-Browser: https://github.com/openhome/ohNet.git

Package: libohnet
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, i-OS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. Java-Script APIs are
 also provided for the control point stack.

Package: libohnet-dev
Section: libdevel
Architecture: any
Depends: libohnet, ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, i-OS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-java-dev
Section: libdevel
Architecture: any
Depends: libohnet-dev, ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, i-OS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-csharp-dev
Section: libdevel
Architecture: any
Depends: libohnet-dev, ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, i-OS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-js-dev
Section: libdevel
Architecture: any
Depends: libohnet-dev, ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, i-OS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-cpp-dev
Section: libdevel
Architecture: any
Depends: libohnet-dev, ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, i-OS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.

Package: libohnet-doc
Section: doc
Architecture: all
Depends: libjs-jquery, ${shlibs:Depends}, ${misc:Depends}
Description: OpenHome Networking Stack - development
 ohNet is a modern, cross platform UPnP stack. ohNet includes both a control
 point and a device stack that can be used together or independently. It runs on
 Linux, Windows, Mac, i-OS and Android. The public APIs are available for the
 device and control point stacks in C++, C#, Java and C. JavaScript APIs are
 also provided for the control point stack.  This package includes the
 development support files.
