#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

install: build

clean:
	$(MAKE) maintainer-clean
	dh_clean

build:
	$(MAKE) generate-makefiles uset4=yes
	$(MAKE) GenAll uset4=yes
	$(MAKE) uset4=yes
	$(MAKE) doc

# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.
	# Build architecture-dependent files here.
	#
binary-arch: build install
	#dh_testdir
	#dh_testroot
	#dh_install --sourcedir=debian/tmp
	
	dh_installdocs
	#dh_installexamples
	#dh_install_installmenu
	#dh_installcron
	#dh_installman
	#dh_installinfo
	dh_install_installmenutallchangelogs ChangeLog
	dh_link
	#dh_strip --dbg-package=libmm-dbg
	#libmmdh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
